* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ebf1f4;
}

.container {
    max-width: 460px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
}

/* //////////////
    INSTRUCTIONS
////////////////// */

.instr {
    font-size: 0.9rem;
}


/* //////////////
    CARDS
////////////////// */

#cards {
    display: flex;
    justify-content: space-evenly;
}

.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}

/* //////////////
    BUTTONS
////////////////// */

.buttons {
    font-family: 'Poppins', sans-serif;
}


/* //////////////
    SCORE
////////////////// */

.score {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.9rem;
}